.hide-default-link {
    a {
        display: none !important;
        &.display-url {
            display: block !important;
        }
    }
}
.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 15px;
    margin-left: -15px;
    margin-right: -15px;
}   
.column {
    padding: 15px;
    box-sizing: border-box; 
}

.column-6 {
    grid-column: span 6;
}

.column-3 {
    grid-column: span 3;
}

.column-4 {
    grid-column: span 4;
}

.column-12 {
    grid-column: span 12;
}
.w-100 {
    width: 100%;
}
.justify-center {
    justify-content: center;
}
.p-0 {
    padding: 0 !important;
}
.border-right-md {
    border-right: 1px solid #dadada;
}
.custom-menu-item {
    position: relative;
    ul>li {
        position: fixed;
        width: 100vw;
        left: 0;
    }
    .show-menu {
        margin-top: 10px;
    }
    .custom-dropdown-view {
        width: 100%;
        background: #E7E7E7;
        color: black;
        padding: 0;
        display: flex;
        justify-content: center;
        border-top: 1px solid #333;
        .custom-width {
            width: 100%;
            max-width: 1440px;
            background-color: #fff;
        }
        .box-categories {
            display: flex;
            gap: 3rem;
            
        }
        .custom-list-subcategory {
            padding-left: 10px;
        }
        .custom-li-item {
            margin: 0;
            padding: 10px 15px;
            cursor: pointer;
            text-wrap: auto;
            &:hover {
                background: #B5123A;
                color: white;
            }
        }
    }
    ul.elementor-nav-menu--dropdown a {
        border-inline-start: none !important;
    }
}   
@media (max-width: 768px) {
    .column-3, .column-4, .column-6 {
        grid-column: span 12; 
    }
    .border-right-md {
        border: none;
    }
    .custom-menu-item {
        &.active ul {
            display: block !important;
        }
        ul>li {
            position: relative;
            width: 100%;
        }
        .custom-dropdown-view {
            .box-categories {
                gap: 2rem;
            }
        }
    }

}